
.App {
  /* margin-left: 100px; */
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.Dashboard {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user-info {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}