
.App {
  /* margin-left: 100px; */
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.Dashboard {
  margin-top: -10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../images/dashboard-01.jpg)  !important;
    background-position: center center  !important;
    background-repeat: no-repeat  !important;
    background-attachment: fixed  !important;
    background-size: cover  !important;
}

/* .user-image-square { 
  background: 50% 50% no-repeat; 
  width: 100%;
  height: 100%;
  margin-left: 50%;
} */

.Dashboard button {
  
  background-color: #101357;
  border-radius: 3px;
  border-width: 2px;
  color: whitesmoke;
  border-color: #fea49f;
  cursor: pointer;
  height: 30px;
  width: 80px;
  font-size: 15px;
}

.Dashboard .user-info-button {
  
  background-color: #101357;
  border-radius: 3px;
  border-width: 2px;
  color: whitesmoke;
  border-color: #fea49f;
  cursor: pointer;
  height: 25px;
  width: 150px;
  font-size: 10px;
}

.user-info {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: .5;
}

.user-info h5 {
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}


.event {
  margin-left: 60px;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  background-color: #EDDFD2; 
  padding: 3px;
  margin: 4px;
  /* width: 95%; */
  width: 650px;
  color: #101357;
  
}
/* @keyframes Border {
  0% {color: #101357;}
  20% {color: #fea49f;}
  40% {color: #fbaf08;}
  60% {color: #00a0a0;}
  80% {color: #007f4f;}
}
.event {
  border: 5px solid;
  border-radius: 10px;
  animation: Border 15s infinite alternate;
  color: #101357;
} */

.events-container {
  /* background: url(../../public/womens_conference.jpg) no-repeat center center fixed !important; */
    background-image: url(../images/moods\ &\ color\ palettes-01\ copy.jpg)  !important;
    background-position: center center  !important;
    background-repeat: no-repeat  !important;
    background-attachment: fixed  !important;
    background-size: cover  !important;
    padding-bottom: 20px;
  margin-top: -2.75%;
  width: auto;
  height: auto;
  /* justify-content: center;
  align-items: center; */
  text-align: center; 
}

.events-container .add-event-button {
  height: 65px;
  align-items: center;
  text-align: center;
  /* background-color: #EDDFD2; */
}

.events-container .add-event-button button {
  background-color: #EDDFD2;
  padding: 20px;
  border-radius: 5px;
  border-width: 3px;
  color: #101357;
  border-color: #101357;
  cursor: pointer;
  font-size: 15px;
  text-align: center;

}
.events-container h1 {
  color: #EDDFD2;
  font-size: 58px;
  background-color: #101357;
  width: 650px;
  margin-left: 27%;
  font-family: 'Permanent Marker', cursive;
}


.all-events ul {
  width: auto;
  height: auto;
  margin-left: 23%;
  /* margin: 50%; */
  text-align: center; 
  margin-bottom: 20px;
  padding-bottom: 100px;
}

.new-event-form {
  background-color: #a14639;
  width: 50%;
  margin-left: 25%;
  padding-top: 10px;
  padding-bottom: 15px;
  border-style: solid;
  border-color: #101357;
  border-width: 1px;
  border-radius: 5px;
}

.new-event-form .submit {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 15px;
}
/* -------------------------END OF EVENTS----------------------------- */

/* -------------------------JOBS----------------------------- */
.jobs-container {
  background-image: url(../images/2nd\ moods\ &\ color\ palettes-01.jpg)  !important;
    background-position: center center  !important;
    background-repeat: no-repeat  !important;
    background-attachment: fixed  !important;
    background-size: cover  !important;
    padding-bottom: 20px;
  /* background-image: url("https://res.cloudinary.com/djsz02nwd/image/upload/v1599615012/womens_conference_pvydli.jpg"); */
  margin-top: -2.75%;
  width: auto;
  height: auto;
  /* justify-content: center;
  align-items: center; */
  text-align: center; 
}

.jobs-container .add-job-button {
  height: 65px;
  align-items: center;
  text-align: center;
  /* background-color: #EDDFD2; */
}

.jobs-container .add-job-button button {
  background-color: #EDDFD2;
  padding: 20px;
  border-radius: 5px;
  border-width: 3px;
  color: #101357;
  border-color: #101357;
  cursor: pointer;
  font-size: 15px;
  text-align: center;

}

.jobs-container h1 {
  color: #EDDFD2;
  font-size: 58px;
  background-color: #101357;
  width: 650px;
  margin-left: 27%;
  font-family: 'Permanent Marker', cursive;

}

.available-jobs ul {
  width: auto;
  height: auto;
  margin-left: 23%;
  /* margin: 50%; */
  text-align: center; 
  padding-bottom: 100px;
}

.job {
  list-style-type: none;
  /* margin-left: 60px; */
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  /* border-color: black; */
  background-color: #EDDFD2;
  padding: 3px;
  margin: 2px;
  width: 650px;
  /* cursor: pointer; */
} 

.new-job-form {
  background-color: #a14639;
  width: 50%;
  margin-left: 25%;
  padding-top: 10px;
  padding-bottom: 15px;
  border-style: solid;
  border-color: #101357;
  border-width: 1px;
  border-radius: 5px;
}

.new-job-form .submit {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 15px;
}

/* -------------------------END OF JOBS----------------------------- */

.underline-p {
  text-decoration: underline;
  font-size: 18px;
  line-height: .5;
}