.wct-container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 650px;
    height: 650px;
    margin-bottom: 7px;
    
  }

  .wct-sub-container {
    /* width: 100%; */
    justify-content: center;
    margin-left: 20%;
    
    
  }

  .wtconnect {
    display: flex;
   /* justify-content: space-between; */
    /* width: 100%; */
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: 650px;
    text-align: center;
    
    /* margin-left: 10%; */
    /* display: grid;
 
grid-template-columns: repeat(3, 1fr);
 
grid-auto-rows: auto; */
 
  }

  
  
  .womens-card {
    /* display: grid; */
    position: relative;
    width: 172px;
    height: 300px;
    margin: 20px;
    transition: transform 1s;
    transform-style: preserve-3d;
    padding: 4px;
    background-color: transparent;
    perspective: 1000px;
    /* margin-left: 10px; */
    /* cursor: pointer; */
  }
  
  .womens-card:hover {
    transform: scale(1.05)
  }
  
  .womens-card:active {
    transform: rotateY(180deg) scale(1.05);
  }

  .flip-card-inner {
    position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  }

  .womens-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    height: inherit;
    width: inherit;
    backface-visibility: hidden;
    background-size: cover;
  }
  
  .card-front {
    /* filter: grayscale(100%); */
    transition-duration: 1s;
    box-shadow: 5px 5px 10px;
    box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
    font-size: 11px;
    
  }
  
  .card-back {
    
    transform: rotateY(180deg);
    box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
  } 
  .card-back .back-details {
    align-items: center;
  }

  span {
    border: none;
    width: 80%;
    height: 0px;
    border: 1px solid black;
    color: #000000;
  }
/*   
  .zero {
    background: url("./assets/stars/stars.png") 0 0;
    width: 148px;
    height: 33px;
  }
   */


   /* ------------------CARD BACK user table---------------- */
   .card-back {
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 14px;
  }

.card-back .users-availability-table {
  margin-bottom: 0;
}

.card-back .users-availability-table .t-body {
  font-size: 10px;
  position: relative;
  max-width: 50px;
  height: 25px;
  margin-left: -10%;
  margin-top: 100px;
}

.card-back .users-availability-table {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 10%;
}

.card-back .users-availability-table td, .users-availability-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.card-back .users-availability-table tr:nth-child(even){background-color: #f2f2f2;}

.card-back .users-availability-table th {
  /* padding-top: 12px; */
  /* padding-bottom: 12px; */
  text-align: center;
  background-color: #ADBDC9;
  /* background-color: #55728E; */
  color: white;
}

/* .card-back br {
 
} */

.card-back p {
  font-size: 11px;
}
/* ------------------end user table---------------- */
